<div class="container">
  <div class="about text-center">
    <h1 class="blue-header-text">About Us</h1>
    <p>PetSitter is about matching pets with friendly and responsible pet sitters. 
    We believe that finding the appropriate match decreases anxiety and increases 
    happiness for not only your pet, but the PetParent as well!</p>
    <br>
    <br>
    <h3 class="blue-header-text">Read about real experiences with PetSitter:</h3>
    <br>
  </div>
  <div class="testimonials">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <p>I was able to leave my two cats at home while I was away on business for a week.  PetSitter connected me with Beth, who was able to visit twice a day and spend time playing, feeding, and hugging them in my absence.  Plus, she was ok with my Scype-ing every evening to say hi myself!  So glad I found Beth through PetSitter!</p>
        <div class="testimonial-author col-md-offset-7">
          <p>Nancy, Catville</p>
          <br>
        </div>
        <p>We have a large dog who is used to a large yard.  I couldn't bare putting him in a kennel.  PetSitter helped me find Sean, who played and walked with Fido every day.  I knew Sean did a great job because no barking complains from the neighbors this time!</p>
        <div class="testimonial-author col-md-offset-7">
          <p>Matt, Dogville</p>
          <br>
        </div>
        <p>I have a cockatoo.  That's right, a bird.  A bird that can be quite loud.  I found Megan through PetSitter.  Not only did she have experience with parrots, she actually housesat while I was gone!</p>
        <div class="testimonial-author col-md-offset-7">
          <p>Stu, Birdtown</p>
        </div>
          <br>
        <p>I was able to leave my two cats at home while I was away on business for a week.  PetSitter connected me with Beth, who was able to visit twice a day and spend time playing, feeding, and hugging them in my absence.  Plus, she was ok with my Scype-ing every evening to say hi myself!  So glad I found Beth through PetSitter!</p>
        <div class="testimonial-author col-md-offset-7">
          <p>Nancy, Catville</p>
          <br>
        </div>
        <p>We have a large dog who is used to a large yard.  I couldn't bare putting him in a kennel.  PetSitter helped me find Sean, who played and walked with Fido every day.  I knew Sean did a great job because no barking complains from the neighbors this time!</p>
        <div class="testimonial-author col-md-offset-7">
          <p>Matt, Dogville</p>
          <br>
        </div>
        <p>I have a cockatoo.  That's right, a bird.  A bird that can be quite loud.  I found Megan through PetSitter.  Not only did she have experience with parrots, she actually housesat while I was gone!</p>
        <div class="testimonial-author col-md-offset-7">
          <p>Stu, Birdtown</p>
        </div>
      </div>
    </div>
  </div>
</div>