<div class="container-fluid text-center banner-home">
  <h1>Need a PetSitter?</h1>
  <h1>Find the best match for <%= ["Spot", "Fido", "Princess", "Rover", "Fluffy", "Tibbles"].sample %>.</h1>
</div>

<div class="container description-home">
  <div class="row">
    <p>PetSitter is an online community connecting PetSitters and PetParents. 
    Here you can find a reliable, responsible sitter for your pet, or advertise 
    your sitter services.  Sign up today!</p>
  </div>
</div>