/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';

@import 'font-awesome-sprockets';
@import 'font-awesome';

// Navbar

.navbar, .banner-home, .footer {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#b4e391+7,61c419+53,b4e391+100;Green+3D */
  background: rgb(180,227,145); /* Old browsers */
  background: -moz-linear-gradient(left,  rgba(180,227,145,1) 7%, rgba(97,196,25,1) 53%, rgba(180,227,145,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(left,  rgba(180,227,145,1) 7%,rgba(97,196,25,1) 53%,rgba(180,227,145,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to right,  rgba(180,227,145,1) 7%,rgba(97,196,25,1) 53%,rgba(180,227,145,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=1 ); /* IE6-9 */
}

.navbar {
  border: none;
  border-radius: 0px;
}

.navbar-default .navbar-brand, .footer-brand, .navbar-default .navbar-nav > li > a {
  color: white;
  font-family: 'Gochi Hand', cursive;
  &:hover, &:focus {
    color: #ccffcc;
    text-decoration: none;
  }
}

// Fonts

p {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Gochi Hand', cursive;
}

// Application

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.min-height {
  min-height: 100%;
  position: relative;
  padding-bottom: 45px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 25px;
    text-align: center;
}


//Home Page

.banner-home {
  color: white;
  margin-top: -20px;
  padding-top: 20px;
  padding-bottom: 30px;
}

.description-home {
  padding-top: 20px;
  text-align: center;
}

//About Us & Contact Us

.blue-header-text {
  color: DarkSlateBlue;
}

.testimonial-author {
  font-style: italic;
}

.well {
    background: #e0ffe0;
    border-color: #dcefdc;
}

.form-group {
  font-family: 'Montserrat', sans-serif;
}

.contact-us-btn {
  font-family: 'Montserrat', sans-serif;
}